* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url(../../scss-components/elements/_container.scss);
@import url(../../scss-components/elements/_title.scss);
@import url(../../scss-components/elements/_avatar.scss);
@import url(../../scss-components/elements/_header-title.scss);