@import url(../../../styles/elements/button.scss);
@import "../../../styles/variables.scss";

.cards-with-info {
  display: grid;
  position: relative;
  margin-top: 50px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-auto-rows: 320px;
}

.list-anime {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  column-gap: 25px;
  row-gap: 30px;
  grid-column: 1;
  grid-row: 1/3;

  li {
    &:last-child {
      grid-column: 1/4;
      margin: 0 auto;
    }
  }
}

@media (max-width: 1200px) {
  .list {
    li {
      &:last-child {
        grid-column: 1/3;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 992px) {
  .cards-with-info {
    grid-template-columns: 1fr;
  }

  .list {
    justify-self: center;
    column-gap: 50px;

    li {
      &:last-child {
        grid-column: 1/4;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 768px) {
  .list {
    grid-template-columns: repeat(auto-fill, 150px);
  }
}

@media (max-width: 576px) {
  .list {
    grid-template-columns: repeat(1, 1fr);

    li {
      &:last-child {
        grid-column: 1/2;
        margin: 0 auto;
        width: 100%;
      }
    }
  }
}
