.chosenMangaPage {
    padding: 20px;

    .manga-container {
        display: flex;
        margin-top: 50px;

        &__btn-back {
            position: relative;
            z-index: 10;
            flex: 2;
            height: 100%;
            font-weight: 700;
            font-size: 20px;
            text-align: right;

            &::after {
                content: "";
                position: absolute;
                z-index: -1;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                display: block;
                background-color: black;
                width: 0;
                height: 100%;
                transition: .3s ease;
            }

            &:hover {
                &::after {
                    width: 100%;
                    height: 100%;

                }

                color: white;

            }
        }
    }

    .wrapper {
        display: grid;
        flex: 1;
        grid-template: 1fr / 1fr 2fr;
        column-gap: 50px;

        &__img {
            max-width: 300px;
            max-height: 450px;
        }
    }

    .descr-wrapper {
        display: grid;
        grid-template: 2em / 500px;
        row-gap: 25px;

        &__title {
            font-weight: 700;
            font-size: 25px;
            letter-spacing: 1px;
        }

        &__descr {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
        }

        &__lang {
            font-weight: 400;
            font-size: 18px;
        }

        &__price {
            font-weight: 700;
            font-size: 30px;
            color: #0077B6;
        }
    }

    @media (max-width: 1200px) {
        .descr-wrapper {
            grid-template: 2em / 400px;

            &__title {
                font-weight: 700;
                font-size: 25px;
                letter-spacing: 1px;
            }

            &__descr {
                font-size: 15px;
                line-height: 21px;
            }
        }
    }

    @media (max-width: 992px) {

        .manga-container {
            flex-direction: column;

            &__btn-back {
                order: 1;
                text-align: center;
                font-size: 25px;
                border: 2px solid black;

            }
        }

        .wrapper {
            display: grid;
            flex: 1;
            order: 2;
            grid-template: 1fr / 1fr 2fr;
            column-gap: 50px;
            margin-top: 20px;

            &__img {
                max-width: 300px;
                max-height: 450px;
            }
        }

        .descr-wrapper {
            grid-template: 2em / 378px;

            &__title {
                font-weight: 700;
                font-size: 25px;
                letter-spacing: 1px;
            }

            &__descr {
                font-size: 15px;
                line-height: 21px;
            }
        }
    }

    @media (max-width:768px) {

        .wrapper {
            grid-template: 1fr / repeat(2, 1fr);
            column-gap: 20px;

            &__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .descr-wrapper {
            grid-template: 2em / 300px;
        }
    }

    @media (max-width:576px) {

        .manga-container {
            margin-top: 20px;
        }

        .wrapper {
            grid-template: 1fr / 1fr;
            column-gap: 0;
            row-gap: 20px;

            &__img {
                width: 100%;
                height: 200px;
                object-fit: cover;
            }
        }

        .descr-wrapper {
            grid-template: 2em / 280px;

            &__descr {
                text-align: justify;
            }
        }
    }
}