.header {
    padding: 30px 0 85px 0;
    min-height: 260px;
    background: url(../../../assets/imgs/our-coffee-page/header-bg.png) center (center/cover) no-repeat;
}

@media (max-width: 767.98px) {
    .header {
        min-height: 220px;
    }
}

@import "../../scss-components/elements/header-title";