@import "../../../styles/variables.scss";

.navigation {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;


    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        width: 50%;


        span {
            color: $main-color;
        }
    }

    &__menu {
        font-weight: 500;
        font-size: 24px;
        width: 50%;
        text-align: right;
    }

    &__link {
        margin: 0 5px;
    }

    #category-anime {

        &:hover,
        &:focus {
            color: $main-color;
        }

        &:active {
            color: #03045E;
        }
    }

    #category-manga {

        &:hover,
        &:focus {
            color: $main-color;
        }

        &:active {
            color: #03045E;
        }
    }
}

@media (max-width: 768px) {
    .navigation {
        flex-direction: column;

        &__menu {
            display: flex;
            width: 100%;
            justify-content: center;
        }

        &__title {
            width: 100%;
            text-align: center;
        }

        #category-anime {
            width: 50%;
            text-align: right;
        }

        #category-manga {
            width: 50%;
            text-align: left;

        }

    }
}