$main-color: #0077B6;
$clr-bgc-restart: #c70024;
$clr-bgc-restart-hover: #a4001e;
$clr-bgc-smth: #c1c0c4;
$clr-bgc-smth-hover: #0096c7;
$shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
$transition: .3s ease;