.about {
    padding: 70px 0 0 0;
    margin: 0 auto;

    &__wrapper-flex {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__img {
        display: block;
        height: 100%;
        margin-right: 80px;
        box-shadow: 8px 8px 87px -9px rgba(66, 68, 90, 1);
    }

    &__wrapper-txt {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 350px;

        img {
            max-width: 200px;
            margin: 20px auto;
        }
    }

    &__wrapper {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
    }

    &:after {
        content: "";
        display: block;
        margin: 60px auto;
        width: 240px;
        height: 0;
        border: 1px solid #000000;
    }
}

.about-it {
    padding: 70px 0 0 0;
    margin: 0 auto;

    &__wrapper-flex {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;

    }

    &__img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin-right: 80px;
        box-shadow: 8px 8px 36px -12px rgba(66, 68, 90, 1);
    }

    &__wrapper-txt {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 420px;
        font-size: 14px;

        img {
            max-width: 200px;
            margin: 20px auto;
        }
    }

    &__wrapper {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
    }

    &__descr {
        list-style-type: none;
        text-align: left;

        span {
            font-weight: 800;
        }
    }

    &__descr-item {
        &:nth-child(n+2) {
            margin-top: 15px;
        }

        &:last-child {
            font-size: 20px;

            span {
                font-size: 14px;
            }
        }

    }


}

@media (max-width: 767.98px) {
    .about {
        &__descr {
            font-size: 13px;
            line-height: 1.6;
        }

        &__img {
            margin-right: 30px;
            box-shadow: 3px 1px 19px -3px rgba(66, 68, 90, 1);
        }

        &__wrapper-flex {
            margin: 0 15px 0 15px;
        }

        &__wrapper-txt {
            img {
                max-width: 200px;
                margin: 10px auto;
            }
        }
    }

    .about-it {
        &__descr {
            font-size: 13px;
            line-height: 1.6;
            text-align: justify;
        }

        &__img {
            margin-right: 30px;
            box-shadow: 3px 1px 19px -3px rgba(66, 68, 90, 1);
            margin-right: 0;

        }

        &__wrapper-flex {
            margin: 0 15px 0 15px;
            flex-direction: column;
        }

        &__wrapper-txt {
            margin-top: 30px;
            max-width: 500px;

            img {
                max-width: 200px;
                margin: 10px auto;
            }
        }
    }
}

@media (max-width: 575.98px) {
    .about {
        padding: 0;

        &__img {
            display: none;
            // margin-right: 0;
        }

        &__descr {
            font-size: 13px;
            line-height: 1.6;
        }

        &__wrapper-txt {
            margin: 60px 15px 0 15px;
            max-width: 500px;

        }

        &__descr {
            font-size: 15px;
        }
    }

    .about-it {
        padding: 0;

        &__descr {
            font-size: 13px;
            line-height: 1.6;
            text-align: justify;
        }

        &__img {
            margin-top: 60px;
        }

    }
}