@import url(../../styles/elements/button.scss);
@import "../../styles/variables.scss";

.cards-with-info {
    display: grid;
    grid-template: repeat(auto-fill, 320px) / repeat(1, 2fr 1fr);
    margin-top: 50px;
    transition: $transition;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-auto-flow: row;
    grid-row: 1/4;
    column-gap: 25px;
    row-gap: 30px;
    transition: $transition;
}

@media (max-width: 1200px) {
    .list {}
}