.button {
    width: 101px;
    height: 38px;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
    transition: .3s ease;

    &:hover,
    &:focus {
        background-color: #0077B6;
    }

    &_main {
        background-color: #0096C7;
    }

    &_submain {
        background-color: #a7babe;

        &:hover,
        &:focus {
            background-color: #889193;
        }
    }

    &_load {
        background-color: #0096C7;
        width: 170px;
        grid-column: 1/4;
        margin: 0 auto;
    }
}

@media (max-width: 1200px) {
    .button {
        &_load {
            grid-column: 1/3;
        }
    }
}

@media (max-width: 992px) {
    .button {
        &_load {
            grid-column: 1/4;

        }
    }
}

@media (max-width: 768px) {
    .button {
        &_load {
            grid-column: 1/4;

        }
    }
}


@media (max-width: 576px) {
    .button {
        &_load {
            grid-column: 1/2;
            width: 100%;
        }
    }
}