@import "../variables.scss";

.button {
  width: 101px;
  height: 38px;
  border: none;
  color: white;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;

  &_main {
    background-color: #0096c7;

    &:hover {
      background-color: #0077b6;
    }
  }

  &_submain {
    background-color: #a7babe;

    &:hover {
      background-color: #889193;
    }
  }

  &_load {
    background-color: #0096c7;
    width: 170px;
    grid-column: 1/4;
    margin: 0 auto;

    &:disabled {
      filter: grayscale(80%);
    }
  }

  &-reroll {
    width: 185px;
    background-color: $clr-bgc-restart;
    &:hover {
      background-color: $clr-bgc-restart-hover;
    }
  }
}

@media (max-width: 576px) {
  .button {
    &_load {
      width: 100%;
    }
  }
}
