.title {
    font-weight: 700;
    font-size: 22px;
    color: #000000;
    letter-spacing: 1px;

    &_card {
        margin: 15px 15px 0 15px;
        color: white;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 14px;
        letter-spacing: 2px;

        &_card {
            margin: 0 15px;
        }
    }
}


@media (max-width: 575px) {
    .title {
        font-size: 18px;
        letter-spacing: 1px;

        &_card {
            margin: 15px 15px 0 15px;
        }
    }
}