* {
  box-sizing: border-box;
}

.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 25rem;
  height: 20rem;
  margin-top: 1.5em;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.2);
}

.view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 0.75em 0;
  margin: 0 auto;
  font-size: 1.5rem;
  width: 15rem;
  min-height: 10rem;
  background-color: #fff;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
}

button {
  margin-top: 0.5rem;
  width: 4.7rem;
  height: 2rem;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border: none;
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: .1s ease;
}

button:hover,
button:focus {
  background-color: #000;
  color: white;
}

button+button {
  margin-left: .5rem;
}

p {
  margin: 0;
  padding: 0;
}