$clr-todo-bgc: #ecf3ff;
$clr-todo-bgc-disabled: #dbdbdb;
$clr-todo-btn: #5275a0;
$clr-todo-btn-hover: #476589;
$clr-todo-btn-disabled: #374a62;
$clr-white: #fff;
$clr-todo-text: #00000099;
$clr-todo-hint: #b70101;
