.footer {
    padding: 30px 0 20px 0;
    min-height: 150px;
    text-align: center;
    max-width: 1400px;
    margin: 0 auto;

    &__menu {
        max-width: 550px;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
    }

    &__menu-logo {
        img {
            height: 70px;
        }
    }

    &__menu-link {
        font-size: 20px;
        font-weight: 300;
        line-height: 43px;

        color: #000000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-decoration: none;
    }

    &__divider {
        margin-top: 30px;
        height: 35px;
    }

}


@media (max-width: 575.98px) {
    .footer {

        &__menu {
            justify-content: center;
        }

        &__menu-link {
            font-size: 16px;
            line-height: 35px;
            margin-bottom: 0;
        }

        &__menu-logo {
            img {
                height: 55px;
            }
        }

        &__menu-logo,
        &__menu-link {
            width: 33%;
        }

        &__divider {
            margin-top: 25px;
        }
    }
}

@media (max-width: 500px) {
    .footer {

        &__menu {
            flex-direction: column;
            align-items: center;
        }

        &__menu-link {
            font-size: 23px;
            line-height: 35px;
            margin-bottom: 0;
        }

        &__menu-logo {

            img {
                height: 80px;
            }
        }

        &__menu-logo,
        &__menu-link {
            border-top: 2px solid black;
            border-bottom: 2px solid black;

            padding: 10px;
            width: 100%;
            margin: 15px 0;
        }

        &__divider {
            margin-top: 25px;
            height: 50px;
        }
    }
}