.about {
  padding-top: var(--pdg-top);
  display: flex;
  justify-content: space-between;

  .info {
    background-color: var(--clr-primary);
    display: flex;
    flex-direction: column;
    width: 620px;

    &__title {
      font-size: 36px;
    }

    &__descr {
      margin-top: 30px;
      font-size: 20px;
    }

    &__resume {
      margin: auto auto 0 0;
      width: 200px;
      height: 50px;
      font-weight: 700;
      padding: 0;
      background-color: var(--clr-txt-primary);
      border: 2px solid var(--clr-txt-primary);
      a {
        color: var(--clr-black);
      }
      &:hover {
        background-color: var(--clr-white);
        border: 2px solid var(--clr-white);
      }
      border-radius: var(--border-btn);
    }
  }
}

.main-photo {
  align-self: center;
  box-shadow: 8px 3px 40px -23px rgba(0, 0, 0, 1);
  object-fit: cover;
  border-radius: 20px;
  height: 400px;
  max-width: 350px;
}
