.contact {
  min-height: 200px;
  padding-top: var(--pdg-top);
  &__title {
    font-size: 48px;
    text-align: center;
  }

  &__list {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    button {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 10px;
      &:hover {
        border: none;
        background-color: rgba(0, 0, 0, 0.2);
      }
      a {
        height: 100%;
        width: 100%;
        font-size: 30px;
        color: var(--clr-txt-primary);
      }
    }
  }
}
