:root {
  --clr-black: #000;
  --clr-white: #fff;
  --clr-primary: #152632;
  --clr-txt-primary: #bdd0f5;
  --clr-project: #1e2f4f;
  --clr-border-lvl: #5287ef;
  --clr-icon-link: #777983;

  --width-container: 1200px;
  --border-btn: 50px;
  --pdg-top: 150px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  background-color: var(--clr-primary);
  color: var(--clr-txt-primary);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}
