.sections {
  margin: 0 auto;
  max-width: var(--width-container);
}

.app {
  animation: on 300ms ease-in forwards;
}

@keyframes on {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
