.nav {
  &__cells {
    height: 80px;
    // background-color: var(--clr-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--width-container);
    margin: 0 auto;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
  }
}

nav > div .Button {
  width: 100px;
  height: 40px;
  border: none;
  color: #bdd0f5;
  border-radius: var(--border-btn);
  &:hover {
    border: 2px solid var(--clr-txt-primary);
  }

  a {
    width: 100%;
    color: #bdd0f5;
    text-decoration: none;
  }
}
