.stack {
  background-color: var(--clr-primary);
  min-height: 500px;
  display: flex;
  justify-content: space-between;
  padding-top: var(--pdg-top);
  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    h2 {
      text-align: center;
      margin-top: -5px;
      font-size: 48px;
    }

    ul {
      margin: 70px auto 0 auto;
      display: grid;
      grid-template: 1fr 1fr / repeat(4, 1fr);
      gap: 80px;

      li {
        display: flex;
        align-items: center;
        font-size: 22px;
        gap: 25px;
      }
    }
  }
}
