@import "../../../styles/variables.scss";

.banner {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    width: 100%;
    height: 100px;
    margin-top: 50px;
    background-color: #00B4D8;
    z-index: 50;

    &__image-man,
    &__image-girl {
        transition: .3s ease;
        position: absolute;
    }

    &__image-girl {
        z-index: -1;
        width: 20%;
        right: 0;
        top: -72px;
    }

    &__image-man {
        width: 15%;
        top: -2.4em;
        left: -4em;
        z-index: -1;
    }

    &__title {
        grid-column: 2;
        color: white;
        font-weight: 700;
        font-size: 30px;
        line-height: 28px;

        &:nth-child(3) {
            align-self: end;
        }
    }
}

@media (max-width: 1200px) {

    .banner {
        &__image-girl {
            top: -40px;
        }

        &__image-man {
            width: 25%;
            top: -5.3em;
            left: -5.3em;
        }
    }

}

@media (max-width: 992px) {

    .banner {
        &__image-girl {
            top: -18px;
        }

        &__image-man {
            width: 25%;
            top: -3.5em;
            left: -4.5em;
        }
    }

}

@media (max-width: 768px) {

    .banner {
        &__image-girl {
            top: 13px;
        }

        &__image-man {
            width: 25%;
            top: -1em;
            left: -3.3em;
        }

        &__title {
            grid-column: 2/4;
            margin: 0 auto;
            color: white;
            font-size: 25px;

        }
    }


}

@media (max-width: 576px) {

    .banner {
        &__image-girl {
            width: 40%;
            top: 9px;
            z-index: -1;
        }

        &__image-man {
            display: none;
        }

        &__title {
            grid-column: 2/4;
            margin: 0 auto;
            color: white;
            font-size: 25px;

        }
    }


}